*{padding:0; margin:0;}
a{
    color:inherit; 
    text-decoration:none;
}
li{
    list-style:none;
}
p{
    font-size: 12px;
    color:#6f6f6f;
}

/* step1 */

.wrap{
    width:940px;
    margin:0 auto;
    position:relative;
}
.subutil{
    position: absolute;
    top:0;
    left:0;
}
.subutil li{
    float: left;
}
.subutil li:nth-child(2){
    margin-top:12px;
    margin-left:15px;
}
h1{
    padding-top:55px;
    text-align:center;
}
header .util{
    position: absolute;
    top:15px;
    right: 20px;
}
.util li{
    float: left;
    margin-right: 25px;
    font-size:12px;
    color:gray;
}
.util li:last-child{
    margin-right: 0px;
}
.gnb ul{
    position: absolute;
    top:70px;
    right:50%;
}
.gnb li{
    float: left;
    margin:10px 35px;
}
header ul:after{
    content:"";
    clear:both; 
    display:block;
    }
.mainbanner{
    width:100%;
    height: 480px;
    background-image:url(../images/mainbn.jpg);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
}

/* step2 */

.container1{
    width:940px;
    margin-top:40px;
    margin-bottom:20px;
}
.info h3{
    height: 22.33px;
}
.info p{
    font-size: 12px;
    margin-top:12px;
}
.info{
    float: left;
    margin-left:35px;
}
.info:first-child{
    margin-left:0;
}
.container1:after{
    content:"";
    clear:both; 
    display:block;
}
.fran{
    width:205px;
    text-align:center;
}
.container1 h3{
    text-align: left;
    padding-bottom: 2px;
}
.fran h3{
    margin-bottom:30px;
}
.mall{
    width:445px;
}
.box{
    float: left;
    width:140px;
    height: 120px;
    text-align:center;
    background-image: url(../images/bg_bar.png);
    background-repeat:no-repeat;
    position: relative;
}
.box:first-child{
    background-image:none;
    padding-top:5px;
}
.box:last-child{
    padding-top:5px;
}
.mall ul{
    margin-top:20px;
}
.box:after{
    content:"";
    clear:both; 
    display:block;
}
.box p{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
}
.store>p{
    margin-bottom:20px;
}
.subbanner{
    margin-top:30px;
}
.subbanner li{
    float: left;
}
.subbanner ul:after{
    content:"";
    display: block;
    clear:both;
}

/* step3 */

.container2{
    margin-top:30px;
}
.container2 p{
    font-size:12px;
    color: #6f6f6f;
}
.container2 div{
    float: left;
}
.container2:after{
    content:"";
    display: block;
    clear:both;
}
.ul_left>div{
    float: left;
    margin-right: 45px;
    width:195px;
}
/* {float:none;}  오 이런식으로도 되는구나!! 
    -> 대신에 바로 밑자손선택 : '>' 사용 */
.ul_left:after{
    content:"";
    display: block;
    clear:both;
}
.ul_left li p img{
    vertical-align: middle;
    /* 그림의 세로(수직) 중앙정렬 */
}
.ul_left h3{
    margin-bottom: 12px;
}
.ul_left .news ul li{
    padding-bottom:20px;
}

.ul_left .news li a{
    /* a가 아닌 li에 width:144px 주면 안된다
    li태그는 한줄 전체를 의미, 너비 144는 a가 의미 */
    width:144px;
    font-size:12px;
    color: #6f6f6f;
    display: block;         /* a는 inline요소니까 블럭준다 */
    float: left;
    white-space: nowrap;    /* 줄바꿈안되도록-위에 */
    overflow: hidden;       /* 넘치면 보여주지말고 숨겨라 */
    text-overflow: ellipsis;/* 문자에 대해서-넘치면 말줄임표해라 */
}
.ul_left span{
    float: right;
    font-size:12px;
    color: #6f6f6f;
}
/* 재생버튼_위아래정렬, 간격조절 */
.container2 .academy p img{
    vertical-align: middle;
    margin-right: 2px;
}
.container2 .recruit p img{
    vertical-align: middle;
    margin-right: 2px;
}
.container2 .news h3 .img{
    vertical-align: middle;
    margin-left:5px;
}
.ul_right>li{
    float: left;
}
.ul_right:after{
    content:"";
    display: block;
    clear:both;
}
.ul_right{
    margin-top:20px;
}
.ul_right li{
    padding:0 5px;
    background-image: url(../images/bg_bar.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    text-align: center;

}
.ul_right li:first-child{
    padding-left:0;
    background-image: none;
}
.ul_right li:last-child{
    padding-right:0;
}

/* step4 */

.container3{
    margin-top:40px;
    border-top-color:#b5121b;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top:30px;
    margin-bottom: 80px;
}
.sns li{
    float: left;
    margin-left:10px;
}
.sns:after{
    content:"";
    display: block;
    clear:both;
}

.con3_title div{
    float: left;
    margin-right:15px;
}
.con3_title:after{
    content:"";
    display: block;
    clear:both;
}

.con3_live{
    margin-top:25px;
    font-size: 12px;
    color:#6f6f6f;
}
.con3_live li{
    margin-right:30px;
    float: left;    
}
.con3_live p{
    width:140px;
}
.con3_live img{
    margin-right:15px;
}
.con3_live div{
    float: left;
}
.con3_live li:after{
    content:"";
    display: block;
    clear:both;
}
.con3_live:after{
    content:"";
    display: block;
    clear:both;
}
.blue{
    color:#08f;
}

/* step5 */

footer{
    background-image: url(../images/bg_pat.png);
    background-repeat: repeat;
}
.footer_container{
    padding-top:20px;
    padding-bottom: 60px;
}
.footer_container ul{
    color:white;
}
.footer_container li{
    float: left;
    margin-bottom: 20px;
}
.footer_container ul:after{
    content:"";
    display: block;
    clear:both;
}
.footer_container li:after{
    content:'|';
    /* 컨텐트속성은
    속성값을 해주고싶은 태그의 after를 selector로 두고 사용한다 */
    margin-right:5px;
    margin-left:5px;
}
.footer_container address{
    color:rgba(255,255,255,0.5);
    font-size: 13px;
    font-style: normal;
    /* font-weight: lighter; */
}
.footer_container address p:last-child{
    margin-top:20px;
}