*{padding:0; margin:0;}
a{
    color:inherit; 
    text-decoration:none;
}
li{
    list-style:none;
}
/* 여기까지는 그냥 기본셋이라고 놓고시작하면 됨 */
.wrap{
    width:940px;
    margin:0 auto;
    position:relative;
}
.subutil{
    position: absolute;
    top:0;
    left:0;
}
.subutil li{
    float: left;
}
.subutil li:nth-child(2){
    margin-top:12px;
    margin-left:15px;
}
h1{
    padding-top:55px;
    /* width: 940px;
    height: 43px; */
    /* margin:0 auto; */
    /* 왜 h1이 중앙배열 안되지용? */
    text-align:center;
}
header .util{
    position: absolute;
    top:15px;
    right: 20px;
}
.util li{
    float: left;
    margin-right: 25px;
    font-size:12px;
    color:gray;
}
.util li:last-child{
    margin-right: 0px;
}
.gnb ul{
    position: absolute;
    top:70px;
    right:50%;
}
.gnb li{
    float: left;
    margin:10px 35px;
}
header ul:after{
    content:"";
    clear:both; 
    display:block;
    }

.slider{
    background-image:url(../images/mainbn.jpg);
    display:block;
    /* display:block을 해줘야 inline의 속성(해당글자의 배경만 나타지는 것)이 아닌
     block의 속성(그 글자의 줄 전부 나타나지는 것)으로 변환된다 */
    width:1263.33px;
    height:480px;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
}
.information{
    width:940px;
    margin-top:30px;
    margin-bottom:30px;
}
.information h3{
    height: 22.33px;
}
.information p{
    font-size: 12px;
    margin-top:12px;
}
.info{
    float: left;
    margin-left:35px;
}
.info:first-child{
    margin-left:0;
}
.information:after{
    content:"";
    clear:both; 
    display:block;
}
.container{
    width:205px;
    text-align:center;
}
h3, p{
    text-align: left;
}
.container:first-child h3{
    margin-bottom:30px;
}
/* ////////////////////// */
.containery{
    width:445px;
}
.box{
    float: left;
    width:140px;
    height: 120px;
    text-align:center;
    background-image: url(../images/bg_bar.png);
    background-repeat:no-repeat;
    position: relative;
}
.box:first-child{
    background-image:none;
}
.containery ul{
    margin-top:20px;
}
.box:after{
    content:"";
    clear:both; 
    display:block;
}
.box p{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
    /* 다시해보기!!!!!!!!!!!!!! */
}
.container:last-child img{
    margin-top:16px;
}
/* 여기서부터 시작 */
.subbanner{
    margin-top:30px;
}
.subbanner li{
    float: left;
}
.subbanner ul:after{
    content:"";
    display: block;
    clear:both;
}
.container2{
    margin-top:30px;
}
.ul_left>li{
    float: left;
    margin-right: 45px;
    width:195px;
}
/* {float:none;}  오 이런식으로도 되는구나!! -> 대신에 바로 밑자손선택 : '>' 사용 */
.ul_left:after{
    content:"";
    display: block;
    clear:both;
}
.ul_left li p img{
    vertical-align: middle;
    /* 그림의 세로(수직) 중앙정렬 */
}
.ul_right>li{
    float: left;
    /* margin-right: 45px; */
}
.ul_right:after{
    content:"";
    display: block;
    clear:both;
}

.ul_left h3{
    margin-bottom: 12px;
}
.con_ul p{
    font-size:12px;
    color: #6f6f6f;
}
.ul_left ul a{
    font-size:12px;
    color: #6f6f6f;
    display: block;
    /* a는 inline요소니까 블럭준다 */
    width:144px;
    float: left;
    /* 밑의 3친구 3종세트 */
    white-space: nowrap;
    /* 줄바꿈안되도록-위에 */
    overflow: hidden;
    /* 넘치면 보여주지말고 숨겨라 */
    text-overflow: ellipsis;
    /* 문자에 대해서-넘치면 말줄임표해라 */
}
.date{
    float: right;
    font-size:12px;
    color: #6f6f6f;
}
.con_ul ul{
    float: left;
}
.con_ul:after{
    content:"";
    display: block;
    clear:both;
}
.ul_right{
    margin-top:20px;
}
.ul_right li{
    padding:0 5px;
    background-image: url(../images/bg_bar.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    text-align: center;

}
.ul_right li:first-child{
    padding-left:0;
    background-image: none;
}
.ul_right li:last-child{
    padding-right:0;
}

.container3{
    margin-top:40px;
    border-top-color:#b5121b;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top:30px;
    margin-bottom: 60px;
}
.sns li{
    float: left;
    margin-left:10px;
}
.sns:after{
    content:"";
    display: block;
    clear:both;
}
.con3_title div{
    float: left;
    margin-right:15px;
}
.con3_title:after{
    content:"";
    display: block;
    clear:both;
}
.con3_live{
    margin-top:25px;
    font-size: 12px;
    color:#6f6f6f;
}
.con3_live li{
    margin-right:30px;
    float: left;
    /* width:205px; */

    /* display:inline-block; */
    
}
.con3_live p{
    width:140px;
    /* float: right; */
}
.con3_live img{
    margin-right:15px;
}
.con3_live div{
    float: left;
}
.con3_live li:after{
    content:"";
    display: block;
    clear:both;
}
.con3_live:after{
    content:"";
    display: block;
    clear:both;
}
.blue{
    color:#08f;
}
/* .con3_live:after{
    content:"";
    display: block;
    clear:both;
} */

footer{
    background-image: url(../images/bg_pat.png);
    background-repeat: repeat;
}
.footer_container{
    padding-top:20px;
    /*  Q. 여기서는 margin-top안먹고 padding이 먹음 - 왜그럴까??
    A. margin을 주면 배경포함해서 이동하게 되어 배경 위에 공간이 생기는 것이고
    padding을 주면 배경은 때놓고 생각해서 (우리가 하고싶은것을 이룰수있음) */
    padding-bottom: 60px;
}
.footer_container ul{
    color:white;
}
.footer_container li{
    float: left;
    margin-right: 6px;
    margin-bottom: 20px;
}
.footer_container ul:after{
    content:"";
    display: block;
    clear:both;
}
address{
    color:#ababab;
    font-size: 13px;
    font-style: normal;
    font-weight: lighter;
}
address p:last-child{
    margin-top:20px;
}